@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

body {
    font-family: 'Arial';
    background-color: whitesmoke;
    margin: 0;
  }
  
  header {
    width: 100%;
    font-family: 'Sigmar One';
    text-align: center;
    background: #375D73;
    color: white;
    font-size: 170%;
  }

  article header{
    background: whitesmoke;
    color: black;
    font-size: 300%;
    padding-bottom: 1%;
  }
  
  img {
    margin: auto;
    margin-bottom: 2%;
    display: block;
    border: solid black 5px;
    max-width: 80%;
  }

  p{
    padding-left:20%;
    padding-right:20%;
    font-size: 150%;
    margin-bottom: 7%;
  }